<p>
  <strong>User:</strong>
  <%= @meeting.user_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @meeting.room_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
