<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
</p>


<%= month_calendar(events: @room.meetings) do |date, meetings| %>
  <%= date.day %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.title %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', rooms_path %>
