<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
</p>


<%= month_calendar(events: @room.meetings) do |date, meetings| %>
  <%= date.day %>
  <% 8.upto(17) do |i| %>
    <%= availability(meetings, i) %>
  <% end %>
<% end %>

<%= link_to 'Back', rooms_path %>
